{% set sessionUser = app.session.get('usuario') %}

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('boleta_index') }}">Boletas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('boleta_nueva') }}">Nueva boleta</a>
    </li>
</ul>

<ul class="navbar-nav ml-auto">
    {% if sessionUser %}
        <li class="nav-item">
            <a class="nav-link" href="#">{{ sessionUser.username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Salir</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Iniciar sesión</a>
        </li>
    {% endif %}
</ul>
